{% extends "hader-fotar.html" %}
{% block bady %}


</section> 
  <section class="text-box">
    <div class="container1">
      <h1> </h1>
      <p><video width="700" height="395" controls>
        <source src="video/111.mp4" type="video/mp4">
      </video>
      <!--
      </p>
      <a href="" class="hero-btn"> To know More courses </a>
    --></div>
    </section>

 
    <main id="overview">
  <b><h5 class="title" >OVERVIEW</h5></b> 
  <div class="main-title   position-relative">
    
</div>
  <hr class="separator">
  <div class="article">
    <h2>About this course</h2>
    <p>in this space, you can write a title for the video and some spaces. <p>
      Skill level: Beginner Level<p>
Students: 2630<p>
Languages: Arabic<p>
Captions: No<p>
Lectures: 13<p>
Video: 1 total hour
    </p>
  </div>
  <hr class="separator">
  <div class="article">
    <h2>Description</h2>
<p>here you must add a description about the course,<p> but now i have to write some words as example for front-end 
  Discover the power of Flutter and Dart to create stunning,<p> high-performance mobile apps for iOS and Android with the most comprehensive and bestselling Flutter course!<p> With over 30 hours of comprehensive content,<p> this course is the ultimate resource for anyone who wants to build beautiful, responsive, and feature-rich applications from scratch.
</p> 
</div>
  <hr class="separator">
  <div class="article">
    <div class="avatar avatar-lg rounded">
      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
  </div>
    <h2>mohmad 3amer</h2>
  <h4> writer, front end, marketing</h4>
    <p>Hi there! My name is karim badran.<p> A tech-obsessed content creator with a mission to share my knowledge and passion with the world.
      Beyond my tech expertise,<p> 
        I'm a passionate educator and mentor.<p> 
          My courses are designed to equip aspiring content creators with the skills and confidence they need to thrive in this dynamic industry.<p>
          If you're ready to transform your content creation dreams into reality,<p>
          join me on this journey by enrolling in my free courses today.<p>
          Let's embark together on a path to content creation mastery!</p>
  </div>
  <hr class="separator">
  <div class="article">
    <h2>Course  Link</h2>
<p><b><li><a href=" https://www.edx.org/search?q=html&tab=course">free courses edx:</a></li></b></p>
</div>
</main>
{% endblock bady %}