
/*1*/
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #ececec;
  border: 1px solid #000000;
  cursor: pointer;
  width: 39px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
#backToTopBtn i{
font-size: 23px;

}
#backToTopBtn:hover {
  background-color: #130081;
}

/*2*/
.dark-mode body {
  background-color: #313131;
  color: #000000;}
.dark-mode .nav-links {
    background-color: #000000;
    color:  #c0c0c0;}
   
    .dark-mode nav {
    background-color: #313131;
    color: #c0c0c0;}

    .dark-mode .input-box {
    background-color:#31313100;
    color:  #c0c0c0;
    border: 0.5px solid#9b9b9b;}

    .dark-mode .input-box button[type="submit"] {
    background-color: #31313100;
    color:  #f3f3f3;}

    .dark-mode .input-box button[type="button"]  {
    background-color:#31313100;
    color:  #f1f1f1;}
    
    .dark-mode .input-box i {
    background-color: #31313100;
    color: #e2e2e2;}

    .dark-mode .input-box input[type="text"] {
    background-color: #313131;
    color: #e4e4e4;}

    .dark-mode nav #img {
    background: #e4e4e400;
    color: #ffffff00;
    border-image-repeat: var('images/logo white.png');
  }

    .dark-mode nav {
      border-bottom:1px solid #858585;
    background-color: #313131;
    color:  #c0c0c0;}

    .dark-mode .nav-links {
    background-color: #3131317c;
    color: #c0c0c0;}

    .dark-mode .nav-links a {
    background-color: #31313100;
    color: #f1f1f1;
  }
    
    .dark-mode .nav-links ul li::after {
    background: #000000;}

    .dark-mode .social-icons a {
      background-color: #313131;
      color:  #ffffffd7;
    border: 1px solid #ffffffb4;
    }
      
    .dark-mode .header {
      background-color: #111111;
      color: #929292;
    }
    .dark-mode main {
      background-color: #111111;
      color: #929292;
    }
    .dark-mode main h2{
      background-color: #111111;
      color: #929292;
    }
    .dark-mode main h3 a {
      background-color: #111111;
      color: #929292;
    }
    .dark-mode main h3 {
      background-color: #111111;
      color: #929292;
    }
    .dark-mode .article h4 {
      background-color: #111111;
      color: #d8d8d8;
    }
    .dark-mode .article h2 {
      background-color: #111111;
      color: #acacac;
    }
    .dark-mode .h5 h5 {
      background-color: #111111;
      color: #ffffff;
    }
    .dark-mode .article p{
      background-color: #111111;
      color: #eeeeee;
    }
    .dark-mode .article {
      background-color: #111111;
      border-right:1px solid #c9c9c9;
      border-left:1px solid #b4b4b4;
      border-radius: 100px;
      color: #929292;
    }
    .dark-mode .article {
      background-color: #111111;
      color: #929292;
    }
    .dark-mode .notification-Menu{
      background-color: #383838;
     }
     .dark-mode .notification-icon{
      color: #c0c0c0;
     }
    .dark-mode .notification-Menu li a{
      border: none;
      background-color:#11111100;
    }

.dark-mode .text-box h1 {
  color: #8c00ff;
}

.dark-mode .container1 p{
  color: #00ffff;
}

.dark-mode .text-box a p {
  color: #00ff55;
}

.dark-mode .input {
  color: #e2e2e2;
}





     @media all and (max-width: 900px) {
      article { width: 48% }
      
      @media(max-width:500px) {
          .text-box h1{
          font-size: 20px;
      }
      .nav-links ul li{
          display: block;
      }
      .nav-links{
          position:absolute;
          background:#3b3b3b86;
          box-shadow: 15px 15px  15px 15px rgba(255, 255, 255, 0.1);
          height:100vh;
          width:200px;
          top: 0;
          right: -260px;
          text-align: left;
          z-index: 2;
         transition: 1s;
          }
          .nav-links .fa{
            display: block;
            cursor: pointer;
            margin: 10px;
          } 
          nav .fa{
            display: block;
            cursor: pointer;
            margin:0px ;
            font-size: 15px;
            align-items: center;
          }
          .container1 iframe{
            width: 250px;
            height: 150px;
           
          
          }
          .text-box{
            top: 30%;
            left: 50%;
            align-items: center;
            margin-top: 0px;
          }
          .input-box input{
            width: 100%;
            height: 100%;
          }
          .input-box{
            width: 80%;
            height: 25px;
            right: 20px;
            padding: 5px;
          }
          .input-box input[type="text"]{
            font-size: 8px;
            padding: 0 15px 0px 20px ;
            outline: none;
          }
          .input-box button[type="button"]{
            font-size:10px;
            top:4px;
            left: 6px;
          }
          .input-box button[type="submit"]{
            font-size:10px;
            right:3px ;
          }
          .input-box i{
            font-size: 10px;
            background-color: #33333300;
          }
          .social-icons a i{
            margin-right: 10px;
            font-size: 13px;
            padding-right: 0px;
            align-items: center;
           justify-content: space-around;
          }
          
          .social-icons a{
            margin-right: 0px;
            border: .25px solid #000000;
            height: 20px;
            width: 20px;
            align-items: center;
           justify-content: space-around;
          }
           nav img{
            width: 55px;
            margin: 5px;
          }
          
      }
      }

      @media  (max-width: 850px){
        .container1 iframe{
         width: 600px;
         height: 350px;
       }
       
     }
     
     @media  (max-width: 710px){
       .container1 iframe{
        width: 500px;
        height: 300px;
      }
      
     }
     
     @media  (max-width: 1026px){
       .dark-mode .nav-links{
         box-shadow: 0px 15px 15px 10px rgba(255, 255, 255, 0.438);
       }
       .nav-links{ position:absolute;
         background:#57575780;
         box-shadow: 0px 15px 15px 10px rgba(34, 34, 34, 0.438);
         height:100vh;
         width:150px;
         top: 0;
         right: -290px;
         text-align: left;
         z-index: 2;
        transition: 1s;
         }
         .nav-links .fa{
           display: block;
           cursor: pointer;
           margin: 10px;
         } 
         nav .fa-solid{
           display: block;
           cursor: pointer;
           margin:0px ;
           font-size: 15px;
           align-items: center;
         }
         nav #img{
          width: 50px;
         }
       }
       @media (max-width: 590px) {
         .container1 iframe{
           width: 400px;
           height: 250px;
           
         }
         .text-box{
           top: 40%;
         }
     }
     @media (max-width: 480px) {
       .container1 iframe{
         width: 350px;
         height: 200px;
       }
       .text-box{
         top: 40%;
       }
       }
       @media (max-width: 380px) {
         .container1 iframe{
           width: 300px;
           height: 200px;
         }
         .text-box{
           top: 30%;
         }
         }
         @media (max-width: 350px) {
           .container1 iframe{
             width: 250px;
             height: 150px;
           }
           .text-box{
             top: 30%;
           }
           }
     @media (min-width: 768px) {
         .footer .footer-top {
             padding-top: 2rem;
             padding-bottom: 1rem;
         }
     }
     
     @media (min-width: 992px) {
         .footer .footer-top {
             padding-top: 3rem;
             padding-bottom: 2rem;
         }
     }