
@media screen and (max-width:1115px) {
 a img{
        margin-top: 15px;
        width: 70px; 
        position: absolute;
        right:-110px;
    }
    nav h1,h4
{
    position: relative;
    top: 20px;
    margin-bottom: 5px;
    margin-left:110px;
    color: #303030;
}
   .img1{
        position: relative;
        left: 60px;
        top: 40px;
        width: 500px;
        margin: 0px;
        padding: 0px;
    }
.right{
    width: 400px;
    height: 0px;
    position: relative;
    left: 600px;
    bottom:500px;
   
    padding: 5px;
    
}
}
@media screen and (max-width:614px) {
    a img{
        margin: 10px;
        width: 70px; 
        position: absolute;
        right: -380px;
    }
    nav h1,h4
{
    position: relative;
    top: 20px;
    margin-bottom: 5px;
    margin-left:110px;
    color: #303030;
}
   
    .img1{
        position: relative;
        left: 60px;
        top: 40px;
        width: 450px;
        margin: 0px;
        padding: 0px;
    }
    
.right{
    width: 400px;
    height: 0px;
    position: relative;
    left: 520px;
    bottom:505px;
   
    padding: 5px;
    
}

}

@media screen and (max-width:1024px) {
    nav   a .img{
           margin: 10px;
           width: 60px; 
           position: absolute;
           right: 0px;
       }
       nav h1,h4
   {
       position: relative;
       top: 40px;
       margin-bottom: 10px;
       margin-left:90px;
       color: #303030;
   }
      
       .img1{
           position: relative;
           left: 40px;
           top: 70px;
           width: 480px;
           margin: 0px;
           padding: 0px;
       }
       
   .right{
       width: 400px;
       height: 0px;
       position: relative;
       left: 510px;
       bottom:460px;
      
       padding: 0px;
       
   }
   
   input {
       width: 300px;
       height: 35px;
       border-radius: 50px;
       padding-left: 20px;
   }
   .item{
       align-items: center;
       padding-left: 0px;
       top: 0px;
       position: relative;
       font-size: 14px;
       left: 60px;
       margin-top: 60px;
       
   }
   .for{
       margin-left: 190px;
       position: relative;
       bottom: 28px;
       
   }
   #bottone1 {
       padding-left: 45px;
       padding-right: 45px;
       padding-bottom: 11px;
       padding-top: 11px;
       border-radius: 50px;
       background: #3A3F43;
       color: #ffffff;
       border: none;
       font-family: inherit;
       text-align: center;
       cursor: pointer;
       transition: 0.4s;
       position: relative;
       left: 170px;
       font-size: 16px;
      }
   }
@media screen and (max-width:768px) {
 nav   a .img{
        margin: 10px;
        width: 60px; 
        position: absolute;
        right: -200px;
    }
    nav h1,h4
{
    position: relative;
    top: 40px;
    margin-bottom: 10px;
    margin-left:90px;
    color: #303030;
}
   
    .img1{
        position: relative;
        left: 40px;
        top: 70px;
        width: 480px;
        margin: 0px;
        padding: 0px;
    }
    
.right{
    width: 400px;
    height: 0px;
    position: relative;
    left: 510px;
    bottom:460px;
   
    padding: 0px;
    
}

input {
    width: 300px;
    height: 35px;
    border-radius: 50px;
    padding-left: 20px;
}
.item{
    align-items: center;
    padding-left: 0px;
    top: 0px;
    position: relative;
    font-size: 14px;
    left: 60px;
    margin-top: 60px;
    
}
.for{
    margin-left: 190px;
    position: relative;
    bottom: 28px;
    
}
#bottone1 {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 11px;
    padding-top: 11px;
    border-radius: 50px;
    background: #3A3F43;
    color: #ffffff;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 170px;
    font-size: 16px;
   }
}
@media (max-width:430px) {
  nav a .img{
        margin: 10px;
        width: 60px; 
        position: relative;
        right: 0px;
    }
    nav h1,h4
{
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    margin-left:20px;
    color: #303030;
}
   
    .img1{
        position: relative;
        left: 40px;
        top: 100px;
        width: 450px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    
.tabs {
    display: flex;
    position: relative;
    background-color: #7c7c7c;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: .75rem;
    border-radius: 99px;
    width: 300px;
    left: 10px;
    margin-top: 20px;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
    font-size: 17px;
    color: black;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    position: relative;
    
  }
   
  .container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(0%);
    
  }
  
  .container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(100%);
    
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 150px;
    background-color: #303030;
    z-index: 1;
    border-radius: 50px;
    transition: 0.25s ease-out;
  }
  
h2{
    align-items: center;
    position: relative;
    left: 80px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;

}
h3{
    color: #5a5a5a;
    font-size: 13px;
    margin-left: 50px;
    margin-top: 20px;
}
.right{
    width: 400px;
    height: 0px;
    position: relative;
    left: 0px;
    top:30px;
   
    padding: px;
    
}

.la{
    padding-left: 0px;
    left: 0px;
    position: relative;
}
input {
    width: 300px;
    height: 30px;
    border-radius: 50px;
    padding-left: 20px;
}
.item{
    align-items: center;
    padding-left: 0px;
    top: 0px;
    position: relative;
    font-size: 14px;
    left: 20px;
    margin-top: 60px;
    
}
.for{
    margin-left: 190px;
    position: relative;
    bottom: 28px;
    
}
#bottone1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50px;
    background: #3A3F43;
    color: #ffffff;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 180px;
    font-size: 16px;
   }
   
#bottone2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50px;
    background: #3A3F43;
    color: #ffffff;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 150px;
    font-size: 14px;
   }
}
@media (max-width:375px) {
  nav  a .img{
        margin-top: 20px;
        width: 70px; 
        position: relative;
        right: 0px;
    }
    nav h1,h4
{
    position: relative;
    top: 0px;
    left: 20px;
    margin-bottom: 10px;
    margin-left:20px;
    color: #303030;
}
   
h2{
    align-items: center;
    position: relative;
    left: 80px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;

}
h3{
    color: #5a5a5a;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
}
    .img1{
        position: relative;
        left: 40px;
        top: 100px;
        width: 450px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
      
.tabs {
    display: flex;
    position: relative;
    background-color: #7c7c7c;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: .75rem;
    border-radius: 99px;
    width: 300px;
    left: 10px;
    margin-top: 20px;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
    font-size: 15px;
    color: black;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    position: relative;
    
  }
   
  .container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(0%);
    
  }
  
  .container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(100%);
    
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 150px;
    background-color: #303030;
    z-index: 1;
    border-radius: 50px;
    transition: 0.25s ease-out;
  }
    
.right{
    width: 400px;
    height: 0px;
    position: relative;
    left: 0px;
    top:20px;
   
    padding: 0px;
    
}

.la{
    padding-left: 0px;
    left: 0px;
    position: relative;
}
input {
    width: 300px;
    height: 30px;
    border-radius: 50px;
    padding-left: 20px;
}
.item{
    align-items: center;
    padding-left: 0px;
    top: 0px;
    position: relative;
    font-size: 14px;
    left: 20px;
    margin-top: 40px;
    
}
.for{
    margin-left: 190px;
    position: relative;
    bottom: 28px;
    
}
#bottone1 {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-radius: 50px;
    background: #3A3F43;
    color: #ffffff;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 190px;
    font-size: 16px;
   }
}
@media (max-width:344px) {
    nav  a .img{
          margin-top: 20px;
          width: 70px; 
          position: relative;
          right: 0px;
      }
      nav h1,h4
  {
      position: relative;
      top: 0px;
      left: 0px;
      margin-bottom: 10px;
      margin-left:20px;
      color: #303030;
  }
       
 h2{
    align-items: center;
    position: relative;
    left: 70px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;

}
h3{
    color: #5a5a5a;
    font-size: 13px;
    margin-left: 40px;
    margin-top: 20px;
}
      .img1{
          position: relative;
          left: 40px;
          top: 100px;
          width: 450px;
          margin: 0px;
          padding: 0px;
          display: none;
      }
        
  .tabs {
      display: flex;
      position: relative;
      background-color: #7c7c7c;
      box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
      padding: 10px;
      border-radius: 99px;
      width: 300px;
      left: 0px;
      margin-top: 20px;
    }
    
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 150px;
      font-size: 15px;
      color: black;
      font-weight: 400;
      border-radius: 99px;
      cursor: pointer;
      transition: color 0.15s ease-in;
      position: relative;
      
    }
     
    .container input[id="radio-2"]:checked ~ .glider {
      transform: translateX(0%);
      
    }
    
    .container input[id="radio-3"]:checked ~ .glider {
      transform: translateX(100%);
      
    }
    
    .glider {
      position: absolute;
      display: flex;
      height: 30px;
      width: 150px;
      background-color: #303030;
      z-index: 1;
      border-radius: 50px;
      transition: 0.25s ease-out;
    }
      
  .right{
      width: 400px;
      height: 0px;
      position: relative;
      left: 0px;
      top:50px;
     
      padding: 0px;
      
  }
  
  .la{
      padding-left: 0px;
      left: 0px;
      position: relative;
  }
  input {
      width: 280px;
      height: 35px;
      border-radius: 50px;
      padding-left: 20px;
  }
  .item{
      align-items: center;
      padding-left: 0px;
      top: 0px;
      position: relative;
      font-size: 14px;
      left: 20px;
      margin-top: 40px;
      
  }
  .for{
      margin-left: 190px;
      position: relative;
      bottom: 28px;
      
  }
  #bottone1 {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 9px;
      padding-top: 9px;
      border-radius: 50px;
      background: #3A3F43;
      color: #ffffff;
      border: none;
      font-family: inherit;
      text-align: center;
      cursor: pointer;
      transition: 0.4s;
      position: relative;
      left: 180px;
      font-size: 16px;
     }
      
 #bottone2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 50px;
    background: #3A3F43;
    color: #ffffff;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    left: 160px;
    font-size: 14px;
   }
  }