{% extends "hader-fotar.html" %}
{% load static %}
{% block bady %}

{% block myhome %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/script.js' %}"defer></script>
{% endblock myhome %}




    <section>
        <div class="container">
            <div class="slider-wrapper">
              <button id="prev-slide" class="slide-button material-icons">
                chevron_left
              </button>
              <ul class="image-list">
class courses(models.Model):
                <img class="image-item" src=" {% static 'images/1.png' %}" alt="img-1" />
                <img class="image-item" src="{% static 'images/1.png' %}"  alt="img-2" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-3" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-4" />
               <img class="image-item" src="{% static 'images/1.png' %}" alt="img-5" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-6" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-7" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-8" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-9" />
                <img class="image-item" src="{% static 'images/1.png' %}" alt="img-10" />

                
              </ul>
              <button id="next-slide" class="slide-button material-icons">
                chevron_right
              </button>
            </div>
            <div class="slider-scrollbar">
              <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
              </div>
            </div>
          </div>     
    </section>


    <section>

    
        <div class="content-area">
            <h1>Courses List</h1>
            <h3>Paid Courses</h3>
            {% for section in sections %} 
            <ul>
                {% for courses in section.courses.all %}
                    {% if  courses.is_paid %}
                    <h2 class="title">{{ section.name }}</h2>
                    
                    <main>
                        <div class="videos-container">
                            <div class="video">
                                <div class="thumbnail"> 
                                    {% if courses.image %}
                                        <img src="{{courses.image.url}}"alt="My Image">
                                    {% else %}
                                        <p>لا توجد صورة متاحة.</p>
                                    {% endif %}
                                                            
    
                                </div>
                        
                                <div class="video-detils">
                          
                                    <div class="title">
                                        <a href="" class="video-title">
                                            {{ courses.name }}
    
                                        </a>
                                        <a href="" class="video-creator">
                                            {{ courses.doctorname }}
    
                                         </a>
                                        <div class="cotn">
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x ">{{ courses.rate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </main>
                    {% endif %}
                {% endfor %}
            </ul> 
            <h3>Free Courses</h3>
            <ul>
                {% for courses in section.courses.all %}
                    {% if not courses.is_paid %}
                    <h2 class="title">{{ section.name }}</h2>
                    <main>
                        <div class="videos-container">
                            <div class="video">
                                <div class="thumbnail"> 
                                    <img src="{{ courses.image.url }}" />
                                </div>
                        
                                <div class="video-detils">
                          
                                    <div class="title">
                                        <a href="" class="video-title">
                                            {{ courses.name}}
    
                                        </a>
                                        <a href="" class="video-creator">
                                            {{ courses.doctorname}}
    
                                         </a>
                                        <div class="cotn">
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x checked"></span>
                                            <span class="fa fa-star fa-x ">{{ courses.rate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div> 
                    </main>
                    {% endif %}
                {% endfor %}
            </ul> 
            {% endfor %}
           
        </div>
    

   
    </section>
    {% comment %} {%url 'products:product_detail' product.id %} {% endcomment %}
   


{% endblock bady %}


























