{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/sigup.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css '%} ">
    <link rel="stylesheet" href="{% static 'path/to/font-awesome/css/font-awesome.min.css '%} ">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css '%} ">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com '%} ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp'%}  rel="stylesheet" >
    <link rel="stylesheet"{% static ' href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap '%} ">

    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css '%} "><!--الخاص بالايقونات زي علامة الفيس بوك--> 
</head>



  
<body>
   
    <nav>
        
        <a href=""><img class="img"  src="{% static 'images/logo black.png' %}"></a>
        <div><h1>POINT </h1>
            <h4>the easiest way to get to your point</h4>  
        </div>
        <img class="img1"  src="{% static 'images/point.jpg' %}" alt="">

        <div class="right">
            <h2>Welcome To POINT</h2>
            <div class="container">
                <div class="tabs">
                    <input type="radio" id="radio-2" name="tabs">
                    <label class="tab" for="radio-2"><a a href= "#" class = "m"><b>Login</b></a></label>
                    <input type="radio" id="radio-3" name="tabs" >
                    <label class="tab" for="radio-3"><a a href= "{% url 'accounts:signuup' %}" class = "m"> <b>Register</b> </a> </label>
                    <span class="glider"></span>
                </div>
            </div>
            <h3>Find Your Fantasy.. Get To Your Dream</h3>
            <div id="checkBox" class="item">
                <form method="post" class="la" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <h4></h4>
                    <h3></h3>
                    <label class="material-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        Remember me
                    </label>
                    <a href="{% url 'password_reset' %}" class="for">Forgot password?</a>
                    <button id="bottone1" type="submit"><a class = "m" href="{% url 'courses:home-page' %}">Login</a></button>
                </form>
            </div>
  
  
  



        </div>
    </nav>
</body>
</html>