{% extends "auth_base.html" %}
{% block bady %}
<div  class="right">
    <h2>Welcome To POINT</h2>


    <div id="checkBox" class="item">
        <span class="la">
                <label>User-name</label>
                <br>
            <input class="text" type="text" placeholder="Enter your name ">
            <br><br><br>
              <!---->
             
        <span class="la">
                <label>Password</label>
                <br>
                <input class="text" type="text" placeholder="Enter your password">
                <button type="button"><i class="fa-solid fa-eye-slash"></i></button>
                <br><br><br>
              <!---->
             
              <label class="material-checkbox">
                <input type="checkbox">
                <span class="checkmark"></span>
                Rememebr me
              </label>
            <a href="{% url 'password_reset' %}" class="for">forgot password?</a>
            <button id="bottone1">L o g i n</button>
    </div>
</div>

    



{% endblock bady %}