{% extends "hader-fotar.html" %}
{% load static %}
{% load i18n %}
{% block bady %}
{% block myhome %}
<link rel="stylesheet" href="{% static 'p1.css' %}">
<link rel="stylesheet" href="{% static 'style1.css' %}">
<link rel="stylesheet" href="{% static 'style11.css' %}">
{% endblock mmyhomey %}
  
<section>
    <div class="container">
     <div class="left">
        <a href="###"> <img src="images/edit-button.png" alt="" class="img1"> </a>
       <img src="images/Ellipse 7.png" alt="" class="img2">
       <br>

       <h12>Karim Hamed</h12>
       <br>
       <h13>Web Developer</h13>

       <br> 
       <p> <a href="###" class="s"> Enter security Center</a> </p> 
        <a href="###"> <img src="images/setting.png" alt="" class="img3"></a>

   </div>

   <br>
   <div class="link">
     <hr>
       <img src="images/facebook.png" alt="" class="face">
       <span> <a href="https://www.facebook.com/?locale=ar_AR"class="ss"> @kareem Hamed</a> </span>
       <hr>
       <img src="images/github (1).png" alt="" class="git">
       <span> <a href="https://github.com/" class="ss"> @kareem Hamed</a> </span>
       <hr>
       
       <img src="images/search.png" alt="" class="google">
       <span> <a href="https://google.com/" class="ss" > @kareem Hamed</a> </span>
       <hr>
       
       <img src="images/twitter (1).png" alt="" class="x ">
       <span> <a href="https://twitter.com/" class="ss" > @kareem Hamed</a> </span>
       <hr>
       
       <img src="images/linkedin.png" alt="" class="linkedin">
       <span> <a href="https://linkedin.com/" class="ss"> @kareem Hamed</a> </span>

       
   
   </div>
   <div class="right">
     
       <h11>Personal Information</h11>
       <div class="item">
       <img src="images/edit-button.png" alt="" class="right1">
       <br>
         <!---->
         <i class="fas fa-user"></i>
       <span class="la">
           <label>Full Name</label>
           <br>
           <input type="text" placeholder="  enter your name">
        <!---->
        <br><br><br>
           <i class=" fas fa-envelope"></i>
           <span class="la">
               <label>Email</label>
               <br>
               <input type="text" placeholder="  enter your email">
               <br><br><br>
            <!---->
            <i class=" fas fa-phone"></i>
       <span class="la">
               <label>Mobile</label>
               <br>
           <input type="text" placeholder="  enter your phone">
           <br><br><br>
             <!---->
             <i class=" fas fa-location-dot"></i>
       <span class="la">
               <label>Address</label>
               <br>
           <input type="text" placeholder="  enter your Address">
           <br><br><br>
             <!---->
             <i class=" fas fa-calendar-days"></i>
           <span class="la">
               <label>Date Of Birth</label>
               <br>
               <input type="date" placeholder="">
               <br>

       </span>
     </div>
   </div>
   <br>
   </div>
   <div>
     <br>
   </div>
      </div>
       </section> 
{% endblock bady %}
