{% extends "hader-fotar.html" %}
{% block bady %}
{% load static %}
{% block myhome %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<link rel="stylesheet" href="{% static 'css/p1.css' %}">
<link rel="stylesheet" href="{% static 'css/style11.css' %}">
{% endblock myhome %}
<section>
    <div class="container">
        <div class="left">
            <a href="{% url 'accounts:update_profile' %}"> <img src="{% static 'images/edit-button.png' %}" alt="" class="img1"> </a>
            <img src= "{{profile.image.url}}" alt="" class="img2">
            <br>
            <h12 >{{ profile.user.username }}</h12>
            <br>
            <h13>{{ profile.department }}</h13>

            <br> 
            <p> <a href="{% url 'accounts:update_profile' %}" class="s"> Enter security Center</a> </p> 
            <a href="{% url 'accounts:update_profile' %}"> <img src="{% static 'images/setting.png' %}" alt="" class="img3"></a>

        </div>
        <br>
        <div class="link">
            <hr>
            <img src="{% static 'images/facebook.png' %}" alt="" class="face">
            <span> <a href="{{ profile.facebook }}" class="ss" >@{{ profile.user.username }}</a></p>
            <hr>
            <img src="{% static 'images/github (1).png' %}" alt="" class="git">
            <span> <a href="{{ profile.github }}" class="ss">@{{ profile.user.username }}</a> </span>
            <hr>
       
            <img src="{% static 'images/search.png' %}" alt="" class="google">
            <span> <a href="{{ profile.email }}" class="ss">@{{ profile.user.username }}</a> </span>
            <hr>
       
            <img src="{% static 'images/twitter (1).png' %}" alt="" class="x ">
            <span> <a href="{{ profile.x }}" class="ss" >@{{ profile.user.username }}</a> </span>
            <hr>
       
            <img src="{% static 'images/linkedin.png' %}" alt="" class="linkedin">
            <span> <a href="{{ profile.linkedin }}" class="ss">@{{ profile.user.username }}</a> </span>
        </div>       
        <div class="right">
            <h11>Personal Information</h11>
            <div class="item">
                <a href="{% url 'accounts:update_profile' %}"> <img src="{% static 'images/edit-button.png' %}" alt="" class="right1"></a>
                <br>
                <!---->
                <i class="fas fa-user"></i>
                <span class="la">

                    <label>Full Name</label>
                    <br>
                    {{ profile.user.username }}
                    <!---->
                    <br><br><br>
                </span>
           
                <i class=" fas fa-envelope"></i>
                <span class="la">
                    <label>Email</label>
                    <br>
                    {{profile.emil}}
                    <br><br><br>
                </span>
                <!---->
                <i class=" fas fa-phone"></i>
                <span class="la">
                    <label>Mobile</label>
                    <br>
                    {{profile.number}}
                    <br><br><br>
                </span>
                <!---->
                <i class=" fas fa-location-dot"></i>
                <span class="la">
                    <label>Address</label>
                    <br>
                    {{profile.Address}}
                    <br><br><br>
                </span>
                <!---->
                 <i class=" fas fa-calendar-days"></i>
                <span class="la">
                    <label>Date Of Birth</label>
                    <br>
                    {{profile.DateOfBirth}}
                    <br>
                 </span>
            </div>
        </div>
    </div>
    <div>
     <br>
    </div>
</section> 
{% endblock bady %}



