{% extends "auth_base.html" %}
{% block bady %}
<div  class="right">
    
    <h2></h2>
    <br>
    <br>
    <h3></h3>
    <br>
    <br>
    <div  id="searchBox" class="item1">
        <div class="search-box">
            <form action="" method="post">
                <span class="la">
                    <label>Email Address</label>
                    <br>
                    <input class="text" type="text" placeholder="Enter your password">
                    </div> <br><br>
                <span class="la">
                    <label>User-name</label>
                    <br>
                    <input class="text" type="text" placeholder="Enter your name ">
           
                    <br><br><br>
              <!---->
             
                <span class="la">
                    <label>Password</label>
                    <br>
                    <input class="text" type="text" placeholder="Enter your password">
                    <button type="button"><i class="fa-solid fa-eye-slash"></i></button>
              <!---->
             
                   <br><br><br>
           
                <button id="bottone2">R e g i s t e r</button>

            </form>


        </div>
    </div>
</div>
{% endblock bady %}