{% extends "base.html" %}
{% block bady %}


<section class="text-box">
    <div class="container1">
      <h1> </h1>
      <p>
        <iframe width="1000" height="700" src="{{ course.vediourl }}" frameborder="0" allowfullscreen></iframe>


      </p>
    </div>
</section>

 
    <main id="overview">
  <b><h5 class="title" >OVERVIEW</h5></b> 
  <div class="main-title   position-relative">
    
</div>
  <hr class="separator">
  <div class="article">
    <h2>About this course</h2>
    <p> {{course.subtitel}} m</p>

  <hr class="separator">
  <div class="article">
    <div class="avatar avatar-lg rounded">
        <img src="{{course.image.url}}" title="" alt="">
  </div>
    <h2>{{course.doctorname}}</h2>
    <h4>{{course.department}}</h4>
    <p>{{course.subtitell}}</p>
  </div>
  <hr class="separator">
  <div class="article">
    <h2>Course  Link</h2>
<p><b><li><a href=" {{course.urlcourses}}">{{course.urlcourses}}</a></li></b></p>
</div>
</main>
{% endblock bady %}